@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* { box-sizing: border-box; }

/* iOS: prevent zoom */
input, select, textarea, button { font-size: 16px; }
/* iOS/PWA sometimes ignores Tailwind text color in standalone for inputs */
.pin-input {
  color: #000 !important;
  -webkit-text-fill-color: #000 !important;
  caret-color: #000 !important;
}

/* optional: placeholder visible */
.pin-input::placeholder {
  color: #777 !important;
  -webkit-text-fill-color: #777 !important;
}
